h2{
	font-size:1.2em;
}
body{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, sans-serif;	
	color: #3b3b3b;
	background: #ffffff;
}
.MattImage{
	width: 300px;
	height: auto;
	text-align:center;
	margin: 10px auto;
}
.headline:hover{
	color:#ffffff;
}

p{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, sans-serif;	
	color: #3b3b3b;
	font-size:.85em;
}